<nav class="navbar bg-transparent navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <!-- Brand logo - hidden on mobile -->
    <a class="navbar-brand d-none d-lg-flex" routerLink="/" aria-label="Madnolia Home">
      <img src="public/madnolia-logo.svg" alt="Madnolia - Home" width="5%">
    </a>

    <!-- Mobile brand logo - visible only on mobile -->
    <a class="navbar-brand d-lg-none" routerLink="/" aria-label="Madnolia Home">
      <img src="public/madnolia-logo.svg" alt="Madnolia - Home" width="50px">
    </a>

    <!-- Mobile toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas menu -->
    <div class="offcanvas offcanvas-end bg-transparent text-white" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <!-- <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ 'HEADER.MENU' | translate }}</h5> -->
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <app-atom-nav-link link="/matches" [label]="'NAVBAR.MATCHES' | translate" [icon]="faUsers" [ariaLabel]="'Go to Matches page'">
            </app-atom-nav-link>
          </li>
          <li class="nav-item">
            <app-atom-nav-link link="/lan-party" [label]="'NAVBAR.LAN_PARTY' | translate" [icon]="faNetworkWired"
              [ariaLabel]="'Go to LAN Party page'">
            </app-atom-nav-link>
          </li>
          <li class="nav-item">
            <app-atom-nav-link link="/platforms" [label]="'NAVBAR.PLATFORMS' | translate" [icon]="faGamepad"
              [ariaLabel]="'Go to Platforms page'">
            </app-atom-nav-link>
          </li>
          <li class="nav-item">
            <app-atom-nav-link link="/download" [label]="'NAVBAR.DOWNLOAD' | translate" [icon]="faDownload"
              [ariaLabel]="'Go to Download page'">
            </app-atom-nav-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>