<div class="grid fadein animation-duration-1000">
    <div class="col-12 md:col-6">
        <div class="text-center">
            <h1 class="text-5xl text-center">MADNOLIA</h1>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="text-center">
            <h2>Connect with gamers around the world</h2>
            <h3>Create matches for any retro or modern platform</h3>
        </div>
    </div>
</div>
<footer class="fadein animation-duration-1000 animation-delay-1000">
    <div class="grid">
        <div class="col">
            <i class="icon-dualshock-2 text-8xl"></i>
        </div>
        <div class="col">
            <i class="icon-wiiu text-8xl"></i>
        </div>
        <div class="col">
            <i class="icon-dualshock-4 text-8xl"></i>
        </div>
        <div class="col">
            <i class="icon-nswitch text-8xl"></i>
        </div>
        <div class="col">
            <i class="icon-3ds text-8xl"></i>
        </div>
        <div class="col">
            <i class="icon-wii text-8xl"></i>
        </div>
        <div class="col">
            <i class="icon-dualsense text-8xl"></i>
        </div>
        <div class="col">
            <i class="icon-360 text-8xl"></i>
        </div>
        <div class="col">
            <i class="icon-ps-vita text-8xl"></i>
        </div>
        <div class="col">
            <i class="icon-dualshock-3 text-8xl"></i>
        </div>
        <div class="col">
            <i class="icon-xbox-classic text-8xl"></i>
        </div>
        <div class="col">
            <i class="icon-xbox-one text-8xl"></i>
        </div>
    </div>
</footer>