.active-mobile {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(255, 0, 51), crimson, rgb(255, 0, 51), rgba(0, 0, 0, 0));
    border-radius: 30px;
}

/* Hide active-mobile on desktop */
@media (min-width: 992px) {
  .active-mobile {
    background: none;
    border-radius: 0;
  }
  i {
    display: none;
  }
}

.active{
    position: relative;
}


a {
    padding: 10px;
    padding-left: 20px;
}

